## Settings file was created by plugin Epic Loot v0.8.7
## Plugin GUID: randyknapp.mods.epicloot

[Abilities]

## Hotkey for Ability Slot 1.
# Setting type: String
# Default value: g
Ability Hotkey 1 = g

## Hotkey for Ability Slot 2.
# Setting type: String
# Default value: h
Ability Hotkey 2 = h

## Hotkey for Ability Slot 3.
# Setting type: String
# Default value: j
Ability Hotkey 3 = j

## The point on the HUD to anchor the ability bar. Changing this also changes the pivot of the ability bar to that corner. For reference: the ability bar size is 208 by 64.
# Setting type: TextAnchor
# Default value: LowerLeft
# Acceptable values: UpperLeft, UpperCenter, UpperRight, MiddleLeft, MiddleCenter, MiddleRight, LowerLeft, LowerCenter, LowerRight
Ability Bar Anchor = LowerLeft

## The position offset from the Ability Bar Anchor at which to place the ability bar.
# Setting type: Vector2
# Default value: {"x":150.0,"y":170.0}
Ability Bar Position = {"x":150.0,"y":170.0}

## The Ability Bar is a Horizontal Layout Group. This value indicates how the elements inside are aligned. Choices with 'Center' in them will keep the items centered on the bar, even if there are fewer than the maximum allowed. 'Left' will be left aligned, and similar for 'Right'.
# Setting type: TextAnchor
# Default value: LowerLeft
# Acceptable values: UpperLeft, UpperCenter, UpperRight, MiddleLeft, MiddleCenter, MiddleRight, LowerLeft, LowerCenter, LowerRight
Ability Bar Layout Alignment = LowerLeft

## The number of units between the icons on the ability bar.
# Setting type: Single
# Default value: 8
Ability Bar Icon Spacing = 8

[Balance]

## Sets how the drop system limits what item types can drop. Unlimited: no limits, exactly what's in the loot table will drop. MustKnowRecipe: items will drop so long as the player has discovered their recipe. MustHaveCrafted: items will only drop once the player has crafted one or picked one up. If an item type cannot drop, it will downgrade to an item of the same type and skill that the player has unlocked (i.e. swords will stay swords)
# Setting type: GatedItemTypeMode
# Default value: MustKnowRecipe
# Acceptable values: Unlimited, MustKnowRecipe, MustHaveCrafted
Item Drop Limits = MustKnowRecipe

## Sets bosses to drop a number of trophies equal to the number of players, similar to the way Wishbone works in vanilla. Optionally set it to only include players within a certain distance, use 'Boss Trophy Drop Player Range' to set the range.
# Setting type: BossDropMode
# Default value: OnePerPlayerNearBoss
# Acceptable values: Default, OnePerPlayerOnServer, OnePerPlayerNearBoss
Boss Trophy Drop Mode = OnePerPlayerNearBoss

## Sets the range that bosses check when dropping multiple trophies using the OnePerPlayerNearBoss drop mode.
# Setting type: Single
# Default value: 100
Boss Trophy Drop Player Range = 100

## Set to true to enable all the adventure mode features: secret stash, gambling, treasure maps, and bounties. Set to false to disable. This will not actually remove active treasure maps or bounties from your save.
# Setting type: Boolean
# Default value: true
Adventure Mode Enabled = true

## Sets the range that Andvaranaut will locate a treasure chest.
# Setting type: Int32
# Default value: 20
Andvaranaut Range = 20

## The percent chance that a legendary item will be a set item. Min = 0, Max = 1
# Setting type: Single
# Default value: 0.15
Set Item Drop Chance = 0.15

[Config Sync]

## [Server Only] The configuration is locked and may not be changed by clients once it has been synced from the server. Only valid for server config, will have no effect on clients.
# Setting type: Boolean
# Default value: false
Lock Config = false

[Crafting UI]

## Changes the item description in the crafting panel to scroll instead of scale when it gets too long for the space.
# Setting type: Boolean
# Default value: true
Use Scrolling Craft Description = true

## Sets the layout style for crafting tabs, if you've got too many. Horizontal is the vanilla method, but might overlap other mods or run off the screen. HorizontalSquish makes the buttons narrower, works okay with 6 or 7 buttons. Vertical puts the tabs in a column to the left the crafting window. Angled tries to make more room at the top of the crafting panel by angling the tabs, works okay with 6 or 7 tabs.
# Setting type: CraftingTabStyle
# Default value: HorizontalSquish
# Acceptable values: Horizontal, HorizontalSquish, Vertical, Angled
Crafting Tab Style = HorizontalSquish

## If set to false, hides the items that are equipped or on your hotbar in the Sacrifice items list.
# Setting type: Boolean
# Default value: false
ShowEquippedAndHotbarItemsInSacrificeTab = false

[General]

## If true, magic items uses special, randomly generated names based on their rarity, type, and magic effects.
# Setting type: Boolean
# Default value: true
Use Generated Magic Item Names = true

[Item Colors]

## The color of Magic rarity items, the lowest magic item tier. (Optional, use an HTML hex color starting with # to have a custom color.) Available options: Red, Orange, Yellow, Green, Teal, Blue, Indigo, Purple, Pink, Gray
# Setting type: String
# Default value: Blue
Magic Rarity Color = Blue

## Indicates the color of the icon used for magic crafting materials. A number between 0 and 9. Available options: 0=Red, 1=Orange, 2=Yellow, 3=Green, 4=Teal, 5=Blue, 6=Indigo, 7=Purple, 8=Pink, 9=Gray
# Setting type: Int32
# Default value: 5
Magic Crafting Material Icon Index = 5

## The color of Rare rarity items, the second magic item tier. (Optional, use an HTML hex color starting with # to have a custom color.) Available options: Red, Orange, Yellow, Green, Teal, Blue, Indigo, Purple, Pink, Gray
# Setting type: String
# Default value: Yellow
Rare Rarity Color = Yellow

## Indicates the color of the icon used for rare crafting materials. A number between 0 and 9. Available options: 0=Red, 1=Orange, 2=Yellow, 3=Green, 4=Teal, 5=Blue, 6=Indigo, 7=Purple, 8=Pink, 9=Gray
# Setting type: Int32
# Default value: 2
Rare Crafting Material Icon Index = 2

## The color of Epic rarity items, the third magic item tier. (Optional, use an HTML hex color starting with # to have a custom color.) Available options: Red, Orange, Yellow, Green, Teal, Blue, Indigo, Purple, Pink, Gray
# Setting type: String
# Default value: Purple
Epic Rarity Color = Purple

## Indicates the color of the icon used for epic crafting materials. A number between 0 and 9. Available options: 0=Red, 1=Orange, 2=Yellow, 3=Green, 4=Teal, 5=Blue, 6=Indigo, 7=Purple, 8=Pink, 9=Gray
# Setting type: Int32
# Default value: 7
Epic Crafting Material Icon Index = 7

## The color of Legendary rarity items, the highest magic item tier. (Optional, use an HTML hex color starting with # to have a custom color.) Available options: Red, Orange, Yellow, Green, Teal, Blue, Indigo, Purple, Pink, Gray
# Setting type: String
# Default value: Teal
Legendary Rarity Color = Teal

## Indicates the color of the icon used for legendary crafting materials. A number between 0 and 9. Available options: 0=Red, 1=Orange, 2=Yellow, 3=Green, 4=Teal, 5=Blue, 6=Indigo, 7=Purple, 8=Pink, 9=Gray
# Setting type: Int32
# Default value: 4
Legendary Crafting Material Icon Index = 4

## The color of set item text and the set item icon. Use a hex color, default is cyan
# Setting type: String
# Default value: #26ffff
Set Item Color = #26ffff

[Logging]

## Enable logging
# Setting type: Boolean
# Default value: false
Logging Enabled = false

## Only log messages of the selected level or higher
# Setting type: LogLevel
# Default value: Info
# Acceptable values: Info, Warning, Error
Log Level = Info

[Rarity]

## The name of the lowest rarity.
# Setting type: String
# Default value: $mod_epicloot_magic
Magic Rarity Display Name = $mod_epicloot_magic

## The name of the second rarity.
# Setting type: String
# Default value: $mod_epicloot_rare
Rare Rarity Display Name = $mod_epicloot_rare

## The name of the third rarity.
# Setting type: String
# Default value: $mod_epicloot_epic
Epic Rarity Display Name = $mod_epicloot_epic

## The name of the highest rarity.
# Setting type: String
# Default value: $mod_epicloot_legendary
Legendary Rarity Display Name = $mod_epicloot_legendary

